---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

let posts = await getCollection("posts", p => !p.data.draft);
posts = posts.sort((a, b) => b.data.published.getTime() - a.data.published.getTime()).slice(0, 5);
---

{posts.length > 0 &&
    <h4 class="leading-loose flex items-center gap-1">
        <Icon name="feather" />
        <a href="/blog" class="underline-offset-4 decoration-dashed decoration-1 hover:underline ">Latest posts</a>
    </h4>
    <ul class="mb-6 text-sm font-light marker:text-xs marker:text-gray-400">
        {
            posts.slice(0, 10).map((p) => (
                <li class=" first:pt-0 last:pb-0 flex items-center">
                    <a
                        class="underline-offset-4 decoration-dashed decoration-1 hover:underline inline-block overflow-hidden whitespace-nowrap text-ellipsis"
                        href={`/blog/${p.slug}`}
                    >
                       {p.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
}
