---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", p => !p.data.draft);
posts.sort((a, b) => b.data.published.getTime() - a.data.published.getTime());
---

{posts.length > 0 &&
    <h4 class="leading-loose flex items-center gap-1">
        <Icon name="feather" />
        Posts
    </h4>
    <ul class="mb-6 list-inside list-disc text-sm font-light marker:text-xs marker:text-gray-400">
        {
            posts.slice(0, 10).map((p) => (
                <li class=" first:pt-0 last:pb-0">
                    <a
                        class="underline-offset-4 decoration-dashed decoration-1 hover:underline"
                        href={`/blog/${p.slug}`}
                    >
                        {p.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
}
