---
import { Icon } from "astro-icon/components";
import GoBackButton from "./go-back-button.astro";

type Props = {
    backUrl?: string;
    icon?: string;
};

const { backUrl, icon } = Astro.props;
---

<section class="mb-6">
    <div class="flex flex-wrap justify-between">
        <h3 class="text-2xl mb-1 flex items-center gap-1">
            {icon && <Icon name={icon} />}
            <slot />
        </h3>
        {backUrl && <GoBackButton to={backUrl} />}
    </div>
    <slot name="tag-line" />
</section>
