---
import type { Config } from "@/layouts/base-layout.astro";
import Social from "@/components/social.astro";
import ThemeSelector from "@/components/theme-selector.astro";

interface Props {
    config: Config;
}
const { config } = Astro.props;
---

<header class="flex flex-col">
    <ThemeSelector class="self-end mb-3" />
    <div class="flex flex-wrap justify-around gap-3 text-center sm:text-left">
        <div class="mt-3 flex-grow">
            <h1 class="leading-tight">
                <a
                    href="/"
                    class="underline-offset-8 decoration-dashed hover:underline decoration-1"
                    >{config.personnal.name}</a
                >
            </h1>
            <h2 class="leading-tight font-light mb-2">
                {config.personnal.title}
            </h2>
        </div>
        <div>
            <Social networks={config.socials} />
        </div>
    </div>
</header>
