---
import { Icon } from "astro-icon/components";

interface Props {
    icon: string;
    profil?: string;
    url: string;
}

const { icon, profil, url } = Astro.props;
const base = url?.endsWith("/") ? url.slice(0, -1) : url;
---

{
    url && profil && (
        <a
            href={`${base}/${profil}`}
            target="_blank"
            class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
            rel="noopener noreferrer"
        >
            <Icon name={icon} class="w-9 h-9" />
        </a>
    )
}
