---
import SocialLink from "@/components/social-link.astro";
import { Icon } from "astro-icon/components";

interface Props {
    networks: {
        github?: string;
        linkedin?: string;
        x?: string;
    };
}

const { networks } = Astro.props;
---

<div class="inline-block text-center">
    <ul class="mb-1 block">
        <li class="inline-block pl-2">
            <SocialLink
                url="https://www.github.com"
                profil={networks.github}
                icon="github"
            />
        </li>
        <li class="inline-block pl-2">
            <SocialLink url="https://x.com" profil={networks.x} icon="x" />
        </li>
        <li class="inline-block pl-2">
            <SocialLink
                url="https://www.linkedin.com/in"
                profil={networks.linkedin}
                icon="linkedin"
            />
        </li>
    </ul>
</div>
