---
import BaseLayout from "@/layouts/base-layout.astro";
import { getCollection } from "astro:content";
import config from "@/config.json";

if (!config?.blog?.enabled) {
    return Astro.rewrite("/404");
}

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const blogEntries = await getCollection("posts");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
    <h1>
        {entry.data.title}
    </h1>
    <Content />
</BaseLayout>

<script>
    // let copyButtonLabel = "Copy Code";
    let copyButtonLabel =
        '<svg xmlns=http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/></svg>';
    let codeBlocks = Array.from(document.querySelectorAll("pre"));

    for (let codeBlock of codeBlocks) {
        let wrapper = document.createElement("div");
        wrapper.style.position = "relative";

        let copyButton = document.createElement("button");
        copyButton.className = "copy-code";
        copyButton.innerHTML = copyButtonLabel;

        codeBlock.setAttribute("tabindex", "0");
        codeBlock.appendChild(copyButton);

        const copiedText = document.createElement("div");
        copiedText.className = "copy-code-text";
        copiedText.innerText = "Copied";
        copiedText.style.display = "none";
        codeBlock.appendChild(copiedText);

        // wrap codebock with relative parent element
        codeBlock.parentNode.insertBefore(wrapper, codeBlock);
        wrapper.appendChild(codeBlock);

        copyButton.addEventListener("click", async () => {
            await copyCode(codeBlock, copiedText);
        });
    }

    async function copyCode(block, text2) {
        let code = block.querySelector("code");
        let text = code.innerText;

        await navigator.clipboard.writeText(text);

        // visual feedback that task is completed
        text2.style.display = "block";

        setTimeout(() => {
            text2.style.display = "none";
        }, 700);
    }
</script>
