---
import GoBackButton from "@/components/go-back-button.astro";
import PostItem from "@/components/post-item.astro";
import BlogLayout from "@/layouts/blog-layout.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const { tag } = Astro.params;
const { posts } = Astro.props;

export async function getStaticPaths() {
    const posts = await getCollection("posts", (p) => !p.data.draft);
    const tags = posts.map((post) => [...new Set(post.data.tags)]).flat();

    return tags.map((t) => {
        return {
            params: { tag: t },
            props: {
                posts: posts
                    .filter((p) => p.data.tags.includes(t))
                    .sort(
                        (a, b) =>
                            b.data.published.getTime() -
                            a.data.published.getTime()
                    ),
            },
        };
    });
}
---

<BlogLayout title={tag}>
    <section>
        <div class="flex flex-wrap justify-between mb-6">
            <h3 class="text-2xl mb-1 flex items-center gap-1">
                <Icon name="tags" />
                {tag}
            </h3>
            <GoBackButton to="/blog" />
        </div>
        <ul class="list-inside list-disc marker:text-xs marker:text-gray-400">
            {
                posts.map((p) => (
                    <li class="flex flex-col gap-2 sm:flex-row sm:gap-x-4">
                        <PostItem post={p} />
                    </li>
                ))
            }
        </ul>
    </section>
</BlogLayout>
