---
import BlogTitle from "@/components/blog-title.astro";
import PostItem from "@/components/post-item.astro";
import BlogLayout from "@/layouts/blog-layout.astro";
import { getCollection } from "astro:content";

const { tag } = Astro.params;
const { posts } = Astro.props;

export async function getStaticPaths() {
    const posts = await getCollection("posts", (p) => !p.data.draft);
    const tags = posts.map((post) => [...new Set(post.data.tags)]).flat();

    return tags.map((t) => {
        return {
            params: { tag: t },
            props: {
                posts: posts
                    .filter((p) => p.data.tags.includes(t))
                    .sort(
                        (a, b) =>
                            b.data.published.getTime() -
                            a.data.published.getTime()
                    ),
            },
        };
    });
}
---

<BlogLayout title={tag}>
    <BlogTitle icon="tags" backUrl="/blog">{tag}</BlogTitle>
    <ul class="list-inside list-disc marker:text-xs marker:text-gray-400">
        {
            posts.map((p) => (
                <li class="flex flex-col gap-2 sm:flex-row sm:gap-x-4">
                    <PostItem post={p} />
                </li>
            ))
        }
    </ul>
</BlogLayout>
