---
import BaseLayout from "@/layouts/base-layout.astro";
const pageTitle = "A Title";
---

<BaseLayout title={pageTitle}>
    <main>
        <h3 class="text-center font-light border-b-2 border-dashed">
            About me
        </h3>
    </main>
</BaseLayout>
