---
import BaseLayout from "@/layouts/base-layout.astro";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

const about = await getEntry("resume", "about");
const { Content: About } = await about.render();

const images = import.meta.glob<{ default: ImageMetadata }>(
    "../assets/*.{jpeg,jpg,png,gif}",
);
---

<BaseLayout>
    {
        about?.body && (
            <section class="mt-10">
                <div class="flex items-center">
                    <Image
                        src={images[about.data.photo]()}
                        alt="photo"
                        class="photo p-5 mr-10 max-w-64 justify-self-center border-2 border-dashed hidden sm:block border-gray-500"
                    />
                    <div class="">
                        <h3 class="font-light mb-4">{about.data.title}</h3>
                        <div
                            class="prose
                                max-w-none
                                dark:prose-invert
                                prose-p:text-justify"
                        >
                            <About />
                        </div>
                    </div>
                </div>
            </section>
        )
    }
    <section class="mt-10">
        <h3
            class="mb-5 pb-1 text-center font-light border-b-2 border-dashed border-gray-500"
        >
            Experience
        </h3>
        <div class="flex gap-x-10 text-justify">
            <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
                <h4>Expertime</h4><p><b>Software Developer</b></p><p>
                    November 2018 - present
                </p>
                <a
                    href="https://www.expertime.com/"
                    target="_blank"
                    class="link">https://www.expertime.com/</a
                ><p class="no-print aditional-links"></p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
                <p class="quote">
                    Expertime is a specialized consulting and integration
                    company for collaborative solutions in the Microsoft
                    environment.
                </p><p>
                    I work with internal teams to design, develop and maintain
                    software. I create applications from scratch, starting from
                    a configure Azure res and provide user support.
                </p>

                <p>
                    Web App and API mainly use ASP .NET Core framework and are
                    hosted on Azure to take advantage of all its capabilities,
                    such as <em
                        >security, load balancing, continuous deployment…</em
                    >
                </p>
            </div>
        </div>
    </section>
</BaseLayout>
