.bordered-shape {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

mark {
    background-color: #4b5563;
    color: #fff;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 255px 25px 225px 15px/15px 225px 15px 255px;
}

@media (prefers-color-scheme: dark) {
    mark {
        background-color: #9ca3af;
        color: #111827;
    }
}

.astro-code{
    min-height: 35px;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 10px 0;
}

.copy-code {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #6b7280;
    padding: 0.25rem 0.5rem;
    border: 1px solid #f3f4f6;
    border-radius: 0.25rem;
}

.copy-code-text {
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 0.75rem;
    line-height: 1rem;
}

.copy-code:hover {
    background-color: #9ca3af;
}
